
.col-header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #084482;
}

.col-paragraph {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    width: 80%;
    font-size: 16px;
    line-height: 151.2%;
    color: #333333;
}

.col-image {
    margin-left: 30%;
}
.column {
    margin: 15%;
}


@media screen and (max-width: 1000px) {
    .col-image {
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .col-image2 {
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .col-paragraph {
        width: 100%;
    }
}