
.pictures {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.picture-image {
    margin: 20px;
}


@media screen and (max-width: 1000px) {
    .pictures {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }
    .picture-image {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1%;
       
    }
}